<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grayscale</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/avery-gfs/images-quackathon-2025/styles.css"
    />
  </head>
  <body>
    <div id="images">
      <img id="input" />
      <canvas id="output"></canvas>
    </div>

    <form id="controls">
      <label for="source">Select input file:</label>
      <input type="file" name="source" accept="image/*" />
    </form>

    <pre id="settings"></pre>

    <script type="module">
      import { attach } from "https://cdn.jsdelivr.net/gh/avery-gfs/images-quackathon-2025/main.js";

      // https://en.wikipedia.org/wiki/Grayscale
      
      function transform(imageData, controls) {
        // Your code goes here !!
      }

      attach(transform);
    </script>
  </body>
</html>
